/backup_servidor_remoto
/DelZip179.dll
/docs
/firebird.log
/gds32.dll
/ib_util.dll
/msvcp100.dll
/msvcr100.dll
/old
/TabelaUnificada_201705_v1705021422.zip
/TabelaUnificada_202005_v2005050914.zip
/TabelaUnificada_202302_v2303011819.zip
/temp
/unificasus.exe
/UNIFICASUS.GDB
/unificasus.ini
# Ignorar arquivos de backup (GDB/FBK)
NewUnificasus/backup_servidor_remoto/*.fbk
NewUnificasus/backup_servidor_remoto/*.GDB
